.input__component__container {
    margin-bottom: 20px;
}

.input__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .input__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.input_field {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .input_field {
        max-width: 500px;
    }
}

.input_field:focus {
    outline: none;
    border: 1px solid #000;
}

.checkbox__container {
    width: 100%;
    max-width: 525px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}

.checkbox__input {
    margin: 0;
    transform: scale(1.2);
    min-width: 20px;
    min-height: 20px;
}


.checkbox__label {
    font-weight: bold;
}