.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.container__list {
    width: 100%;
    max-width: 940px;
    box-sizing: border-box;
}

@media (min-width: 960px) {
    .container {
        margin: 50px auto;
        padding: 0;
    }
}
